html{
  background: #f5f5f5;
}
h2 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.front-image{
  height: 200px;
  width: 200px;
}
.uk-container{
  margin: 0 auto;
  background: #fff;
}
body{
  height: 100%;
  width:100%;

}

.uk-button{
  diplay: block;
  margin: 0 auto;
}
.center{
  text-align: center;
}

my-app img{
  display: block;
  margin: auto;
}
