ul:first-child img{
    border:1px solid #b6b6b6;
}
ul{
    border-bottom:1px solid #b6b6b6;
    padding-left: 0;
}
ul:last-child{
     border:none;
 }
li:first-child{
    display: table-cell;
    float: left;
}
li{
    list-style: none;
}
h2{
    text-align: center;
}
